.top-section{
  padding: 2rem;
}
.top-section .link{
  display: flex;
  align-items: center;
}
.Appointment{
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  display: flex;
  flex-direction: column;
  padding-inline: var(--page-padding-inline);
  padding-bottom: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
