.Appointment{
  display: flex;
  padding-inline: var(--page-padding-inline);
  flex-direction: column;
}
.Appointment .datepicker{
  display: flex;
  justify-content:space-evenly;
  margin: 1rem 0;
}
/* user input */
.Appointment .user-info{
}
.Appointment .info-inputs{
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.Appointment .info-inputs input{
  padding: 1rem;
  border: .1px solid gray;
  border-radius: 8px;
  margin: .5rem;
}
.Appointment .info-inputs input:valid{
  background: #ffff;
}
.Appointment .info-inputs input:invalid{
  background: rgba(255, 179, 179, 0.357);
}
/* book btn */
/*  */