.DatePicker{
  background-color: rgba(253, 226, 190, 0.2);
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 30px 1px rgba(128, 128, 128, 0.2);
  animation: loading-transition 1000ms ease 1 normal both;
  animation-delay: 300ms;
}
.DatePicker .highlight-heading{
  background-color: #daa66e8d;
  color: rgb(100, 70, 30);
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: var(--heading-font-size);
  margin-bottom: 1.5rem;
  padding:.8rem;
  border-radius: 10px;
}
.datepicker-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 2rem 2rem 2rem;
  gap:1rem
}
.datepicker-container .calendar{
  background-color: #ffff;
  margin: 0;
  box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.2);
  max-width: 320px;
}

@media screen and (max-width: 1024px) {
  .DatePicker{
    margin-top: 1rem;
  }
  .datepicker-container{
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
  }
  
  .datepicker-container .calendar{
    font-size: 0.9rem;
    max-width: 300px;
  }
}
