.DatePicker{
  border-radius: 10px;
  animation: loading-transition 1000ms ease 1 normal both;
}
.DatePicker .highlight-heading{
  color: rgb(100, 70, 30);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: var(--heading-font-size);
  margin-bottom: var(--heading-margin-bottom);
  border-radius: 10px;
}
.datepicker-container{
  display: grid;
  gap: 1rem;
}
.datepicker-container .datepicker{
}

@media screen and (max-width: 1024px) {
  .DatePicker{
    display: grid;
    justify-items: center;
  }
  .datepicker-container{
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
  }
  
  .datepicker-container .datepicker{
    font-size: 0.9rem;
    max-width: 300px;
  }
}
