*{
  margin: 0;
  padding: 0;
}

.introduction{
  background: linear-gradient(90deg, rgba(147,180,58,0.2) 0%, rgba(252,192,69,0.2) 100%);
}

.intro-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6rem var(--page-padding-inline) 3rem;
  
}
.intro-container .img img{
  max-width: 100%;
}
.text-container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-container .heading{
  font-size: 2.5rem;
}
.text-container .subheading-one{
  font-size: 1.3rem;
  margin-bottom: .5rem;
}
.text-container .subheading-two{
  color: rgb(88, 88, 88);
}
.text-container button{
  align-self: flex-start;
}