.introduction{
  background: linear-gradient(90deg, rgba(147,180,58,0.2) 0%, rgba(252,192,69,0.2) 100%);
  max-width: 100%;
}

.intro-container{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  padding: 3rem var(--page-padding-inline) 3rem;
  animation: slide-in 800ms ease-out both;
  animation-delay: 200ms;
}
.intro-container .img{

  z-index: 2;
  max-width: 100%;
  display: grid;
  justify-items: end;
}
.intro-container .img img{
  display: block;
  transform: translate(-30%);
  filter: blur(1.5px);
  max-width: 800px;
  border-radius: var(--border-radius);
}
.intro-container .img .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  pointer-events: none;
}
.text-container{
  z-index: 3;
  display: grid;
  place-content: center;
  gap: 1rem;
}
.text-container .backgroundColor-layer{
  display: grid;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: var(--border-radius);
  padding: 1rem;
}
.text-container .heading{
  font-size: clamp(1.2rem, 4vw, 2rem);
  color: var(--primart-color);
}
.text-container .subheading-one{
  font-size: clamp(1rem, 2vw, 1.3rem);
  margin-bottom: .5rem;
}
.text-container .subheading-two{
  color: black;
}
.text-container button{
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .intro-container {
    text-align: center;
  }
  
  .text-container button {
    align-self: center;
  }
}