#products{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 5rem;
  margin-inline: var(--page-padding-inline);
}

#products .heading{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  position: relative;
  font-size: var(--heading-font-size);
  margin-bottom: 2rem;
  padding: .5rem;
}
#products .heading::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: gray;
  border: 1px solid gray;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
}
#products .heading .heading-text{
  background-color: #fff;
  padding: .5rem;
  z-index: 2;
}

