.service-card{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px 2px rgba(128, 128, 128, 0.15);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 1.5rem;
  margin: .5rem;
  font-size: clamp(1rem, 2vw, 1.3rem);
  transition: 300ms ease;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.service-card:hover{
  transform: scale(1.05);
}
.service-card.checked{
  background-color: #774d35;
  transition: 400ms ease;
  color: white;
}
.service-card .service-checkbox{
  width: 1rem;
}

@media screen and (max-width: 1024px) {
  .service-card {
    padding: 1rem;
  }
  .service-card .service-checkbox{
    display: none
  }
}
