.services{
  background-color: rgba(253, 226, 190, 0.1);
  padding: 2rem;
  border: .1px solid rgb(100, 70, 30);
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.1);
}
.services .highlight-heading{
  background-color: #daa66e8d;
  color: rgb(100, 70, 30);
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding:.8rem;
  border-radius: 10px;
}
.services .cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}