.service-card{
  display: flex;
  justify-content: space-between;
  border: .1px solid gray;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 1rem;
  margin: .5rem;
  box-shadow: 1px 3px 3px rgba(128, 128, 128, 0.5);
  transition: 300ms ease;
}
.service-card:hover{
  background-color: rgba(147, 180, 58, 0.3);
  transition: 300ms ease;
}