.service-card{
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 244, 231);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 1rem;
  margin: .5rem;
  font-size: clamp(.7rem, 1vw, 1.3rem);
  transition: 300ms ease;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.service-card:hover{
  transform: scale(1.05);
}
.service-card.checked{
  background-color: #774d35;
  transition: 400ms ease;
  color: white;
}
.service-card .service-checkbox{
  display: none;
  width: 1rem;
}

@media screen and (max-width: 768px) {
  .service-card:hover {
    transform: scale(1);
  }
}
