.SubmitModal{
  display: flex;
  justify-content: center;
}

.SubmitModal .submitBtn{
  background-color: rgb(100, 70, 30);
  align-self: center;
  color: #ffff;
  border: none;
  border-radius: var(--button-border-radius);
  padding: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 300ms ease;
  box-shadow: var(--surrounding-box-shadow);

  &:disabled{
    transform: none;
    opacity: 1;
    background-color: gray;
    cursor: not-allowed;
    color: rgb(55, 55, 55);
  }
}
