.UserInputs{
  border-radius: 10px;
  animation: loading-transition 1000ms ease 1 normal both;
} 
.UserInputs .highlight-heading{
  position: relative;
  color: rgb(100, 70, 30);
  font-size: var(--heading-font-size);
  padding:.8rem;
}
.UserInputs .info-inputs{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.UserInputs .info-inputs input{
  margin: .5rem;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: var(--surrounding-box-shadow);
  
}
.UserInputs .info-inputs input:valid{
  background: #ffff;
}
.UserInputs .info-inputs input:invalid{
  background: rgb(255, 238, 238);
}